<h6 class="MainHeading-signup">Sign-in to your account!</h6>

<section class="UserForm">
  <%= form_with url:sessions_path do |form|%>
    <div class="UserForm-entry">
      <%= form.email_field :email,class:"Form-input", placeholder: "Enter email " %>
    </div>
    <div class="UserForm-entry">
      <%= form.password_field :password_digest,class:"Form-input", placeholder: "Enter password" %>
    </div>
    <%= form.submit "Sign In",class:"Form-submit" %>
  <%end%>
</section>

<div class="Navigation-tools">
<p>New user? 
  <%= link_to "Sign-up", new_user_path %>
</p>
<p>
  <%= link_to "Home", "/" %>
</p>
</div>