<h6 class="MainHeading-signup">Hey there! create your own account</h6>

<section class="UserForm">
  <%= form_with url:users_path do |form|%>
    <div class="UserForm-entry">
      <%= form.text_field :first_name ,class:"Form-input", placeholder: "Enter First Name" %>
    </div>
    <div class="UserForm-entry">
      <%= form.text_field :last_name,class:"Form-input", placeholder: "Enter Last Name" %>
    </div>
    <div class="UserForm-entry">
      <%= form.email_field :email,class:"Form-input", placeholder: "Enter email " %>
    </div>
    <div class="UserForm-entry">
      <%= form.password_field :password_digest,class:"Form-input", placeholder: "Enter password" %>
    </div>
    <%= form.submit "Sign Up",class:"Form-submit" %>
  <% end %>
</section>

<div class="Navigation-tools">
<p>Already here? 
  <%= link_to "Sign-in", new_sessions_path %>
</p>
<p>
  <%= link_to "Home", "/" %>
</p>
</div>