<section>

    <div class="TodoTitle">
        <h2 class="TodoHeading"><%= section_title %></h2>
        <h2 class="TodoHeadingCount"><%= todos.completed.count %> / <%=todos.count%></h2>
    </div>
       
    <% todos.each do |todo|%>
        <div class="TodoEntries">
            <%if todo.completed%>
                <input type="checkbox" checked>
                <p class="Todo-text-completed"><%= todo.todo_text%></p>
            <%else%>
                <input type="checkbox"%>
                <p class="Todo-text"><%= todo.todo_text%></p>
            <%end%>
            <%if show_duedate%>
               <p class="Todo-date"> <%= todo.due_date.to_s(:short)%></p>
            <%end%>
            <img class="TrashIcon" src="trash.png">
        </div>
    <%end%>
        
</section>